# Environment Variables
NODE_ENV=development
PORT=5000

# Database URL for Prisma ORM (MongoDB, PostgreSQL, or SQLite)
# Example for MongoDB:
# DATABASE_URL="mongodb+srv://<user>:<password>@cluster.mongodb.net/sami_portfolio?retryWrites=true&w=majority"
# Example for PostgreSQL / SQL:
# DATABASE_URL="postgresql://postgres:password@localhost:5432/sami_portfolio?schema=public"
DATABASE_URL="file:./dev.db"
